
@media (min-width: 600px) {

    @keyframes move {
        0%{
            right: -30%;
        }
        100%{
            top: -5px;
            left: auto;
            right: 0;
        }
    }
    header{
        margin-left: 3%;
    }

    #content,main,#fon{
        flex-direction: row;
    }

    .toDo{
        position: relative;
    }
    section,#fon{
        display: flex;
    }
    main{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 2.3%;
        padding-top: 2%;
    }
    section{
        width: 48%;
        flex-direction: column;
        margin-bottom: 2.5%;
    }

    .addNewArticleButton{
        height: 30px;
        width: 30px;
        border-radius: 15px;
        padding-left: 6px;
        font-size: 30px;
        font-weight: bold;
        left: auto;
        right: 0;
        bottom: 5px;
        margin: 2% 20px 0 1%;
    }

    #fon{
        top: -5px;
        background-color: #888888;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
    }

    #addingArticle{
        height: 100vh;
        width: 30%;

        top: -5px;
        left: auto;
        right: 0;
    }
}