#list, .header, .searchTask, .blockTask{
    display: flex;
}

#list{
    width: 97%;
    min-height: 95vh;
    margin-left: 5px;
    margin-top: 30px;
    height: auto;
    flex-direction: column;
}

#header{
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: auto;
    min-height: 40px;
}

.download {
    margin-right: 5px;
    margin-top: 20px;
}

input[placeholder='Search to-do']{
    width: 90%;
    margin-top: 5px;
    font-size: 15px;
    margin-left: 10px;
    outline: none;
}

h1{
    word-break: break-word;
}
.searchTask, .blockTask,#header{
    background-color: white;
    box-shadow: 0 0  40px 0  rgba(0,0,0,0.2);
    margin: 5px;
    border-radius: 5px;
}
.searchTask{
    width: 97%;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;

}
.btnSearch{
    background-color: black;
    color: white;
    width: 70px;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    margin-top: 0;
}
input[placeholder='Enter to-do name']{
    outline: none;
    padding: 10px;
}

.blockTask{
    height: 90vh;
    width: 97%;
    flex-direction: column;
    align-content: flex-start;
    padding: 15px 5px 0 5px;
}

@media (min-width: 600px) {
    #list{
        margin-left: 37px;
        margin-right: 5px;
    }
    .searchTask, .blockTask{
        width: 99%;
    }
}