
.block-item {
    background: white;
    padding: 26px;
    width: 530px;
    height: auto;
    margin-bottom: 25px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  @media screen and (max-width: 600px) {
    .block-item {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 992px) {
    .block-item {
      width: 70%;
    }
  }
  
  .item-name {
    font-family:'Open Sans', Arial, sans-serif;
    width: 500px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-top: -10px;
    outline: none;
    border: none;
  }
  
  .item-name:focus {
    border-bottom: 1px solid black;
  }
  
  .add-task {
    width: 500px;
  }
  
  .add-todo {
    font-size: 20px;
    color: #808080;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  
  .add-todo:focus {
   border-bottom: 1px solid #808080;
  }

  .images {
    padding-left: 470px;
  }
  
  .images div {
    display: inline-block;
    cursor: pointer;
  }

  .info-icon {
    margin-right: 5px;
  }


  .tasks {
    margin-top: 10px;
  }