/*Box*/
.box {
    display: flex;
    flex-direction: column;
    font-family: Open Sans;
    width: 45%;
    height: auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
    line-height: 50px;
    margin-top: 25px;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.form {
    font-family: Open Sans;
    font-size: 26px;
    padding: 10px;
    color: gray;
}

@media screen and (max-width: 600px) {
    .box {
        width: 80%;
    }
}

input[type=text] {
    border: white;
    outline: none;
}

.title {
    font-family: Open Sans;
    border: white;
    width: 100%;
    font-size: 30px;
    font-weight: bolder;
    margin: 0px 0 10px 10px;
    cursor: pointer;
}

.sp div {
    width: 40px;
    height: 50px;
    float: right;
    cursor: pointer;
}

.addToDo {
    font-family: Open Sans;
    font-size: 26px;
    padding: 10px;
    color: gray;
    cursor: pointer;
    width: 95%;
}

.infoDashboard {
    width: 28px;
    height: 28px;
    padding-right: 10px;
    padding-top: 5px;
    float: right;
    cursor: pointer;
}
