
.board {
    background: white;
    padding: 26px;
    width: 730px;
    height: auto;
    margin: 50px auto;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  @media screen and (max-width: 600px) {
    .board {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 992px) {
    .board {
      width: 70%;
    }
  }
  
  .board-name {
    font-family:'Open Sans', Arial, sans-serif;
    width: 700px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-top: -10px;
    outline: none;
    border: none;
  }
  
  .board-name:focus {
    border-bottom: 1px solid black;
  }
  
  .board-add-todo {
    font-size: 25px;
    width: 700px;
    color: #808080;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  
  .board-add-todo:focus {
   border-bottom: 1px solid #808080;
  }

  .board-images {
    padding-left: 700px;
  }
  
  .board-images div {
    display: inline-block;
    cursor: pointer;
  }

  .board-info-icon {
    margin-right: 5px;
  }


  .board-tasks {
    margin-top: 10px;
  }