#line{
    height: 5px;
    width: 100%;
    margin-top: 25px;
    background-color: black;
    animation: transition 700ms 1;
}

@keyframes transition{
    0%{
        width:1%;
    }

    100% {
        width:100%;
    }
}

.logo{
    width: 50px;
    height: 46px;
}
.list{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 3px;
    z-index: 10000;
}
.close{
    background-color: white;
    padding: 5px;
}

.settings{
    width: 45px;
    height: 35px;
}
@media (min-width: 600px) {
    header{
        margin-left: 3%;
    }
}
