
.task-name {
    font-family:'Open Sans', Arial, sans-serif;
    font-size: 20px;
    width: 450px;
    color: #808080;
    margin-bottom: 5px;
    margin-left: 5px;
    display: inline-block;
    background-color: white;
    border: none;
    outline: none;
}
  
.task-name-active {
    text-decoration: line-through;
}
  
.delete-task {
    width: 35px;
    height: 25px;
    opacity: 0;
    text-align: center;
    margin-left: 500px;
    margin-top: -22px;
    display: block;
    cursor: pointer;
}
  
.task:hover .delete-task {
    opacity: 1;
}
  
input[type=checkbox] {
    position: relative;
    cursor: pointer;
    right: 8px;
    top: -3px;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -1px;
    border: 2px solid #808080;
    border-radius: 6px;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 7px;
}

input[type=checkbox]:checked + input {
    text-decoration: line-through;
}