#settingsWindowForComp{
    position: absolute;
    background-color: white;
    z-index: 10000;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border-top: 1px solid whitesmoke ;
    width: 100%;
    max-width: 1190px;
    min-height: 300px;
    height: auto;
    border-radius: 0 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#tabContainerComp{
    background-color: #888888;
    width: 155px;
}
li{
    list-style-type: none;
    background-color: #888888;
    margin: auto;
}