#lastTab{
    border-bottom:0;
    padding-bottom: 0;
}

.up-down{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    align-self: center;
}

.content{
    background:  rgba(241,241,241,0.22) ;
    display: flex;
    flex-direction: column;
    box-shadow:
            inset rgba(0,0,0,.6) 0 -3px 8px,
            inset rgba(252,255,255,.7) 0 3px 8px,
            rgba(0,0,0,.8) 0 3px 8px -3px;
    border-radius: 0 0 5px 5px;
}