#settingsWindowForComp{
    position: absolute;
    background-color: white;
    z-index: 10000;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border-top: 1px solid whitesmoke ;
    width: 100%;
    max-width: 1190px;
    min-height: 200px;
    height: auto;
    border-radius: 0 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;margin-top: -5px;
}
#tabContainerComp{
    background-color:gainsboro;
    display: flex;
    flex-direction: column;
}
input[type="radio"]{
    visibility:hidden;
}
#tabContainerComp > label {
    padding: 20px 16px;
    color: white;
    margin: 0;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
#tabContainerComp > label:hover{
    background-color: black;
}