.tasks{
    position: relative;
    margin: 10px;
}

.tasks:before {
    position: absolute;
    z-index:1;
    display: flex;
    bottom: 0;
    content: "";
    height: 30px;
    width: 0;
    background-color: whitesmoke;
    transition: width 0.2s ease-in-out;
    opacity: 0.4;
}

.tasks:hover:before{
    width: 100%;
}

.taskDiv,.deleteTask{
    z-index:1;
}

.deleteTask{
    color:gray;
    margin-top: 2px;
    z-index: 5;
    font-size: 20px;
}
.taskDiv{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: baseline;
}

.fa-check-square,.unselected{
    margin: 3px 5px 0 10px;
}

.fa-check-square+.taskName{
    text-decoration: line-through;
}

.unselected{
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 3px;
    border: gray solid 2px;
}
.fa-check-square {
    font-size: 21px;
}
.taskName{
    font-size: 20px;
    width: 100%;
    text-overflow: ellipsis;
    z-index: 5;
    margin-left: 5px;
}

.taskName:focus{
    outline: none;
}
.trashTaskOneList{
    background-image: url(../../../../image/trash.svg);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.trashTaskOneList:hover {
    animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
}
@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-10deg);
    }
    20%, 40% {
        transform: rotate(10deg);
    }
}

