.tasks{
    position: relative;
}
.taskDiv,.deleteTask{
    z-index:1;
    width: 100%;
}
.fa-check-square,.unselected{
    margin: 5px 5px 5px 10px;
}

.fa-check-square+.taskName{
    text-decoration: line-through;
}
.unselected{
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 3px;
    border: gray solid 2px;
    cursor: pointer;

}
.fa-check-square {
    font-size: 15px;
    cursor: pointer;
}
.deleteTask{
    margin-top: 2px;
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;

}
.deleteTask:hover {
    animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
}
@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-10deg);
    }
    20%, 40% {
        transform: rotate(10deg);
    }
}
.taskName{
    font-size: 20px;
    width: 100%;
    text-overflow: ellipsis;
    z-index: 5;
    margin-left: 5px;
    outline: none;
}
#nullTask{
    opacity:0;
    transition: 500ms;
    animation: show 500ms 1;
    animation-fill-mode: forwards;
    margin: auto;
}
@keyframes show {
    0%{
        opacity:0;
    }


    100% {
        opacity:1;
    }
}


