#regDiv{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.enter:disabled {
    background-color: darkgray;
}

.enterInf {
    border-bottom: 1px solid gray;
}

@media (min-width: 500px) {
    #regDiv{
        margin-top: 0;
    }
}

@media (min-width: 700px) {
    #regDiv{
        width: 30%;
    }
    .bg{
        width: 95%;
    }
}