#regDiv{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    opacity:0;
    transition: 500ms;
    animation: show 500ms 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}
@keyframes show{
    0%{
        opacity:0;
    }


    100% {
        opacity:1;
    }
}
.enter:disabled {
    background-color: darkgrey;
    cursor: pointer;
}
.enter:hover {
    background-color: black;
}

.enterInf {
    border-bottom: 1px solid gray;
}
@media (min-width: 500px) {
    #regDiv{
        margin-top: 0;
    }
}
@media (min-width: 700px) {
    #regDiv{
        width: 30%;
    }
}
h2 {
    cursor: default;
}
