body {
  background-color: #F3F4F6;
  font-family:'Open Sans', Arial, sans-serif;
  font-size: 12px;
  list-style: none;
}

#block-main {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 37px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
  justify-content: space-between;
  z-index: 1;
}



#plus {
  display: inline-block;
  margin-left: 1125px;
  margin-top: 100px;
  cursor: pointer;
}

