.main_block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  max-width: 100%;
  margin: auto 150px;
  background: #F5F5F5;
}

/*Container with dashboard*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -100px auto;
  width: 100%;
  padding-top: 50px;
}


@media screen and (max-width: 600px) {
  .main_block {
    width: 100%;
    margin: auto 0;
  }

  .container {
    justify-content: center;
    margin: -100px 5%;

  }


}


