#list, .header, .searchTask, .blockTask,.spList{
    display: flex;
}

.spList{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#backEndTitle{
    width: 80%;
}
#list{
    width: 97%;
    min-height: 95vh;
    margin-left: 5px;
    margin-top: 30px;
    height: auto;
    flex-direction: column;
}

#header{
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: auto;
    min-height: 40px;
}

.download {
    margin-right: 5px;
}

.back {
    float: left;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.titleNameOneList{
    margin-top: 5px;
}
.deleteList, .download {
    z-index: 2;
    cursor: pointer;
    margin-left: 10px;
}

.download {
    margin-top: 10px;
}

.deleteList {
    margin-top: 8px;
}


input[placeholder='Search to-do']{
    width: 90%;
    margin-top: 5px;
    font-size: 15px;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
}

h1{
    word-break: break-word;
}
.searchTask, .blockTask,#header{
    background-color: white;
    box-shadow: 0 0  40px 0  rgba(0,0,0,0.2);
    margin: 5px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 15px;
    cursor: pointer;
}
.searchTask{
    width: 97%;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.btnSearch{
    border-radius: 5px;
}
input[placeholder='Enter to-do name']{
    outline: none;
    padding: 10px;
}

.blockTask{
    height: 90vh;
    width: 70%;
    flex-direction: column;
    align-content: space-between;
    padding: 15px 5px 0 5px;
}
.blockTask >div {
    height: 87vh;
    overflow: auto;
}

@media (min-width: 600px) {
    #list{
        margin-left: 37px;
        margin-right: 5px;
    }
    .searchTask, .blockTask{
        width: 99%;
    }
}
.titleNameOneList {
    width:auto;
    font-size: 30px;
    font-weight: bold;
    float:left;
    outline: none;
    margin-right: 50%;
    cursor: pointer;
    padding-top: 5px;
}
.back{
    color: lightgrey;
    height: 20px;
    weight:20px;
}
.deleteList{
    color: lightgrey;
    height: 20px;
    weight:20px;
}
.download{
    color: lightgrey;
    height: 20px;
    weight:20px;
}
