section, article {
    display: flex;
    position: relative;
}

article:before, .addNewTask {
    position: absolute;
}

section {
    flex-direction: column;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    height: 350px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
}

article {
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

article:before {
    bottom: 0;
    content: "";
    height: 2px;
    width: 0;
    background-color: grey;
    transition: width 0.2s ease-in-out;
    z-index: 1;
}

article:hover:before {
    width: 100%;
}

.titleName {
    font-size: 25px;
    color: black;
    font-weight: bold;
    border: 0;
    margin: 8px 20px;
    width: 93%;
    text-overflow: ellipsis;
}

.titleName:focus {
    outline: none;
}

.deleteBoadr, .linkList {
    color: black;
    margin: 5px;
    z-index: 2;
}

.linkList {
    margin: 8px;
}

.taskLists {
    border-top: 1px solid rgba(0,0,0,0.01);
    margin-bottom: 20px;
    margin-right: 3px;
    overflow: auto;
    height: 240px;
    border-bottom: 1px solid rgba(0,0,0,0.03);
}



.addNewTask {
    right: 5px;
    left: 20px;
    bottom: 5px;
    width: 95%;
    font-size: 20px;
    z-index: 15;
    padding-top: 5px;

}
